.export {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: white;
}

.export h1 {
    padding-top: 90px;
}

.exportContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exportContainer button {
    background: var(--colBlue);
    color: white;
    outline: 0;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 40px;
}

.exportContainer button:first-of-type, .exportContainer button:nth-of-type(2) {
    margin-bottom: 40px;
}

.exportContainer button:last-of-type {
    margin-bottom: 40px;
    background: lightgrey;
    color: var(--colGrey);
    padding: 20px;
    font-size: 1.5rem;
}

.passwordOverlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: 10; */
    color: white;
    transition: opacity 0.2s ease-in-out;
}

.passwordOverlay h1 {
    padding-top: 0;
}

.passwordOverlay form {
    display: flex;
    flex-direction: column;
}

.passwordOverlay form input {
    width: 300px;
    height: 50px;
    font-size: 2rem;
    outline: none !important;
    border: solid white 2px;
    transition: border-color 0.2s ease-in-out;
}

.passwordOverlay form input:focus {
    border-color: var(--colBlue);
}