.gap1Content {
    display: flex;
    align-items: center;
}

.gap1Content ul {
    margin-right: 20px;
}

.gap1Content li {
    margin-bottom: 20px;
}

.gap1Content li:last-of-type {
    margin-bottom: 0;
}

.gap1Content img {
    /* width: 598px;
    height: 511px; */
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.graph {
    width: 659px;
    margin-right: 40px;
}

.text {
    width: 209px;
}

.callout {
    width: 648px;
}

.buttonGap {
    cursor: pointer;
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 236px;
}

.driversImg1 {
    width: 900px;
    align-self: center;
    margin-bottom: 40px;
}

.driversImg2 {
    width: 800px;
    align-self: center;
}

.elevatedImg1 {
    width: 664px;
    align-self: center;
}

.buttonContainerElevated {
    position: fixed;
    display: flex;
    right: 40px;
    bottom: 100px;
}

.buttonElevated1 {
    width: 267px;
    margin-right: 40px;
}

.buttonElevated2 {
    width: 236px;
}

.whatIsVazkepa1 {
    width: 1022px;
    align-self: center;
    margin-top: 40px;
}

.buttonWhat {
    cursor: pointer;
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 236px;
}

.howDoesVazkepa1 {
    width: 852px;
    align-self: center;
    /* margin-top: 40px; */
}

.buttonHow {
    cursor: pointer;
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 236px;
}

.howNote {
    position: fixed;
    left: 790px;
    bottom: 90px;
    max-width: 800px;
    font-size: 0.75rem;
    opacity: 0.75;
}

.howNote sup {
    font-size: 0.5rem;
}

.cardsGuidelines {
    display: flex;
    align-self: center;
    margin-top: 40px;
}

.cardsGuidelines div:first-of-type {
    margin-right: 40px;
}

.cardsGuidelines div {
    width: 387px;
    height: 483px;
}

.cardsGuidelines li {
    /* list-style-position: inside; */
    max-width: 75%;
    transform: translateX(50px);
    text-align: left;
}

.cardsGuidelines li span {
    color: var(--colBlue);
}